# Config
{% for option, value in concourse_worker_options_combined.items() %}
{% if (concourseci_version | version_compare('v3.10.0', '>=')) and option == 'CONCOURSE_TSA_HOST' %}
$env:{{ option }}="{{ value }}:{{ concourse_worker_options_combined['CONCOURSE_TSA_PORT'] }}"
{% elif (concourseci_version | version_compare('v3.10.0', '>=')) and option == 'CONCOURSE_TSA_PORT' %}
{% else %}
 $env:{{ option }}="{{ value }}"
{% endif %}
{% endfor %}

Write-Output "$(date) starting "

# Exec worker
& {{ concourseci_bin_dir }}/{{ concourseci_binary_file }} worker 2>&1